:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  /* Colors */
  --main-cl: #434455;
  --accent-cl: #4d5ae5;
  --ocean-cl: #404bbf;
  --navy-blue-cl: #2e2f42;
  --green-cl: #31d0aa;
  --light-slate-cl: #8e8f99;
  --cornflower-cl: #e7e9fc;
  --cloud-cl: #f4f4fd;
  --navy-blue-modal-cl: #2e2f42;
  --grey-cl: #2e2f42;
  --white-cl: #ffffff;
  --dairy-cl: #fcfcfc;
}

body {
  font-family: var(--main-font);
  background: #fff;
  color: var(--main-cl);
}

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style-type: none;
}

.header-logo {
  color: var(--accent-cl);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: var(--iris, #2e2f42);
}

.header-menu-link {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean, #404bbf);
}

.header-address {
  font-style: normal;
}
.header-address-link {
  color: var(--slate, #434455);

  /* Body */
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; /* 0.32px/16 */
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean, #404bbf);
}

.hero {
  background-color: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  background: var(--accent-cl);
  color: var(--white, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em; /* 0.64px/16 */
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean, #404bbf);
}

/*----------- peculiarities--------------- */

/* .peculiarities-list {
}

.peculiarities-item {
} */
.peculiarities-name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.peculiarities-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; /* 0.32px/16 */
}

/* -----products----------- */

/* .products {

} */
.products-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em; /* 0.72px/36 */
  text-transform: capitalize;
}
/* .products-list {
}
.list {
}
.products-item {
} */

/* ----------team--------- */

.team {
  background: var(--cloud, #f4f4fd);
}
.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em; /* 0.72px/36 */
  text-transform: capitalize;
}
/* .team-list {
}
.list {
} */
.team-item {
  background: var(--white, #fff);
}

.team-names {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em; /* 0.4px/20 */

  background: var(--white, #fff);
}
.team-professions {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; /* 0.32px/16 */
  background: var(--white, #fff);
}

/* ----footer------- */

.footer {
  background: var(--navyblue, #2e2f42);
}
.footer-logo {
  color: var(--accent-cl);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em; /* 0.54px/18 */
  text-transform: uppercase;
}

.footer-logo-color {
  color: var(--iris, #f4f4fd);
}
.footer-text {
  color: var(--cloud, #f4f4fd);

  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; /* 0.32px/16 */
}

/*-----------PORTFOLIO-------------------- */

/* .Menu {

}
..visually-hidden {
} */
/* .Menu-list {
} */
/* .Menu-item {
} */

.menu-button {
  background: var(--cloud, #f4f4fd);
  color: var(--accent-cl);
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em; /* 0.64px/16 */
  cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  /* text-align: center; */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em; /* 0.64px/16 */
}

/* ------Structure---------- */

/* .visually-hidden {
}
.Structure-list {
} */

/* .Structure-item {
} */
.structure-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em; /* 0.4px/20 */
}
.structure-text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; /* 0.32px/16 */
}
/* .structure-link {
  text-decoration: none;
} */
